@model Jeff.Model.View.ItemListForm
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content_audio">
    <table>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.Key</td>
            </tr>
            <tr>
                <td>
                    <div class="audio">
                        <audio  controls>
                            <source src="@Url.Content("~/Content/Media/" + @item.Value + ".ogg")" type="audio/ogg">
                            <source src="@Url.Content("~/Content/Media/" + @item.Value + ".mp3")" type="audio/mpeg">
                            This browser does not support audio playback.
                        </audio>
                    </div>
                </td>
            </tr>
        }
    </table>

</div>
