@model Jeff.Model.View.AdminForm
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Jeffrey A. Wisniewski | Admin</title>
    <link href="@Url.Content("~/Content/Admin.css")" rel="stylesheet" type="text/css" />
</head>
<body id="Admin_Body">
    @using (Html.BeginForm("Save", "Admin"))
    {
        <div>
            <h3>Email Address</h3>
            @Html.TextBoxFor(m => m.EmailAddress, new { size = 50 })
        </div>
        <div>
            <h3>Bio Text</h3>
            @Html.TextAreaFor(m => m.BioText, new { cols = 120, rows = 30 })
        </div>
        <div>
            <h3>Videos (Vimeo)</h3>
            @foreach (var entry in Model.VideoEntries)
            {
  <text>Description:</text> @Html.TextBoxFor(e => entry.Key, new { size = 75 }) <text>FileName</text>@Html.TextBoxFor(e => entry.Value, new { size = 55 })
                <br />
            }
        </div>
        <div>
            <h3>Voice Entries</h3>
            @foreach (var entry in Model.VoiceEntries)
            {
                <text>Description:</text> @Html.TextBoxFor(e => entry.Key, new { size = 75 }) <text>Vimeo Id</text>@Html.TextBoxFor(e => entry.Value, new { size = 55 })
                <br />
            }
        </div>
        <hr />
        <input type="submit" value="Save" />
    }
</body>
</html>
