@model Jeff.Model.View.HomeView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main_img_div">
    <div id="film_link">
        <span><img src="@Url.Content("~/images/video_play.png")" style="width: 20px; height: 20px;"/></span>
        @Html.ActionLink("View Reel","Index","Video")
        <hr/>
        <span><img src="@Url.Content("~/images/video_play.png")" style="width: 20px; height: 20px;"/></span>
        @Html.ActionLink("IBM Webspot", "Index", "Video",null,null,"webspot",null,null)
    </div>
</div>
<div style="float: right; width: 450px; padding: 10px 10px;">
    @Html.Raw(Model.HomeHtml)
</div>
