@using System.Web.Mvc.Html5
@model Jeff.Model.View.ContactView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="Contact_Content">
    <address>
        @Model.DisplayEmail
    </address>
    <div id="Contact_Or_Break">
        <img src="@Url.Content("~/Content/images/contact_or.png")"/>
    </div>
    <div id="Contact_Form">
        @using(Html.BeginForm("Send","Contact"))
        {
            @Model.SendStatusMessage
            <table>
                <tr>
                    <td class="contact_label">Name:</td>
                    <td class="contact_field">@Html.TextBoxFor(m => m.Name,new{size=20, placeholder="Robert Smith"})</td>
                </tr>
                <tr>
                    <td class="contact_label">Email:</td>
                    <td class="contact_field">@Html.Html5TextBox("ContactInfo",InputTypes.InputType.Email,new{size=40,placeholder="bob@email.com"})</td>
                </tr>
                <tr>
                    <td class="contact_label">Subject:</td>
                    <td class="contact_field">@Html.TextBoxFor(m => m.Subject,new{size=40, placeholder="Show Inquiry"})</td>
                </tr>
                <tr>
                    <td class="contact_label">Message:</td>
                    <td class="contact_field">@Html.TextAreaFor(m => m.Message,new{cols=70, rows=7})</td>
                </tr>
            </table>
            <div class="Center">
                <input type="submit" value="Send" id="Contact_Submit" />    
            </div>
        }
    </div>
</div>
